<h2 class="header" id="candidate-step1">Candidatos
	<span ng-click="startIntro()">
		<i class="material-icons">help_outline</i>
	</span>
</h2>

<form ng-submit="buscar()" ng-intro-options="IntroOptions" ng-intro-method="startIntro">

	 <div class="row" id="candidate-step2">
	     
	     <div class="col s10 input-field">
	         <input ng-model="searchText" id="txtDescription" type="text" placeholder="busque um candidato"/>
	     </div>
	         
	     <div class="col s2 input-field right-align">
	         <button class="btn waves-effect waves-light" type="submit"><i class="material-icons left">search</i>Buscar</button>
	     </div>
	
	 </div>
	 
	 <div class="row right-align">
	 	<div class="fixed-action-btn horizontal" id="candidate-step3">
			<a class="btn-floating btn-large waves-effect waves-light red" href="#/cad-candidate"><i class="material-icons">add</i></a>
		</div>
	 </div>
	 
	 <div class="card-panel teal lighten-2" ng-show="message" ng-bind="message"></div>
	
	<div ng-repeat="candidate in candidates">
	    <div class="card blue-grey darken-1">
	        <div class="card-content white-text">
	        	<span class="card-title" ng-bind="candidate.name"></span>
       			<p ng-bind="candidate.email"></p>
       			<p ng-show="candidate.active">Ativo</p>
       			<p ng-show="!candidate.active">Inativo</p>
		    </div>
	        <div class="card-action right-align">
	        	<a href="" ng-class="{'red-text': candidate.validate}" ng-click="validateRemove(candidate, $index)" ng-bind="candidate.validate==true?'Clique para confirmar':'Excluir'"></a>
	            <a href="#/edit-candidate/{{candidate.id}}">Editar</a>
	        </div>
	    </div>
	</div>
	
</form>